body {
  margin: 0;
text-align: center;
font-family: 'Raleway', sans-serif;

}
p {
font-weight: 400;
letter-spacing:1px;
}

h1 {
font-weight: 400;
letter-spacing:1px;
/*color: #0D2C40;*/
text-transform: uppercase;
font-size: 45px;
}
a{
  font-weight: 600;
  letter-spacing:1px;
  text-decoration: none;
  /*color: #f15b31;*/
  color: #FFFFFF;
  text-transform: uppercase;
   font-size: 18px;
}
h2{
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing:1px;
  color: #0D2C40;
  font-size: 20px;
}
div {
/*  background: #c0dec5;*/
  padding: 30px 20px 0 15px;
}

header{
  background-color: #f15b31;
  color: #FFFFFF;
  padding :30px 20px ;

}
nav{
   background-color: #00A6B3;
   color: #FFFFFF;
   padding :20px ;
}

.main {
width:850px;
margin:35px auto;
}

/*card images*/
img{
margin-top:40px;
margin-right:8px;
margin-left:8px;
margin-bottom:40px;

}
footer{
  text-transform: uppercase;
  padding:0 20px;
  background-color: #0D2C40 ;
  color: white;
  font-size:14px;
  letter-spacing: 0.8em;
  font-weight: 500;
 }
 span{
  color: #F15B31 ;
  font-weight:700;
  border-bottom: 2px solid transparent;
}
.copyright{
  float: left;
}
.message{
  float: right;
}
.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

a:hover {
/* Your styles here */
}
